{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <title>Title</title>
</head>
<body>
    <header>
        <div class="background">
            <img src="{% static 'media/images/layout1.jpg' %}" alt="">
        </div>
        <div class="overlay">
            <nav>
                <ul class="first-nav">
                    <li><a href="{% url 'index' %}"><img id="logo" src="{% static 'media/images/engine.png' %}" alt="logo"></a></li>
                    <li><a href="{% url 'index' %}">Home Page</a></li>
                    <li><a href="{% url 'show_categories' %}">Categories</a></li>
                    <li><a href="{% url 'show_watchlist' %}">Watchlist</a></li>
                </ul>

                <div class="form">
                    <form action="{% url 'search' %}" method="get">
                        <input type="text" name="search" placeholder="Іздеу">
                        <button type="submit" ><img id="search" src="{% static 'media/images/search.png' %}" alt=""></button>
                    </form>
                </div>

                <ul class="second-nav">
                    <li><a href="{% url 'profile' user.id %}"><img id="profile" src="{% static 'media/images/user.png' %}" alt=""></a></li>
                    <li><a href="{% url 'show_cart' %}"><img id="cart" src="{% static 'media/images/cart.png' %}" alt=""></a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </nav>

            <div class="main-text">
                <h1>Lorem ipsum</h1>
                <p>dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </div>
    </header>

    <section>
        <div class="main">
            <h2>You can find details and accessories for this models</h2>
            <div class="models">
                <img class="car-logo" src="{% static 'media/images/mazda.png' %}" alt="">
                <img class="car-logo" src="{% static 'media/images/audi.png' %}" alt="">
                <img class="car-logo" src="{% static 'media/images/chevrolet.png' %}" alt="">
                <img class="car-logo" src="{% static 'media/images/mitsubishi.png' %}" alt="">
                <img class="car-logo" src="{% static 'media/images/bmw.png' %}" alt="">
            </div>
        </div>
    </section>

    <div class="section">
        <p id="category-title">Categories</p>
        <div class="categories">
            <div class="category">
                <ul>
                    <a href="{% url 'category' 'Запчасти' %}"><li>
                        <img src="{% static 'media/images/car-parts.png' %}" alt="">
                        <hr>
                        <p>Parts</p>
                    </li></a>
                </ul>
                <ul>
                    <a href="{% url 'category' 'Электроника' %}"><li>
                        <img src="{% static 'media/images/electronic.png' %}" alt="">
                        <hr>
                        <p>Electronics</p>
                    </li></a>
                </ul>
                <ul>
                    <a href="{% url 'category' 'Аксессуарлар' %}"><li>
                        <img src="{% static 'media/images/accessories.png' %}" alt="">
                        <hr>
                        <p>Accessories</p>
                    </li></a>
                </ul>
                <ul>
                    <a href="{% url 'category' 'Автохимия' %}"><li>
                        <img src="{% static 'media/images/chemistry.png' %}" alt="">
                        <hr>
                        <p>Chemistry</p>
                    </li></a>
                </ul>
                <ul>
                    <a href="{% url 'category' 'Антикоррозия' %}"><li>
                        <img src="{% static 'media/images/krasniy.png' %}" alt="">
                        <hr>
                        <p>Against Rust</p>
                    </li></a>
                </ul>
            </div>
            <img id="car-engine" src="{% static 'media/images/car-engine.png' %}" alt="">
        </div>
    </div>

    {% include 'auth_users/footer.html' %}
</body>
</html>