@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&family=Source+Code+Pro:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Radio Canada', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: .5em;
    z-index: 999;
    top: 0;
    background: #1C2833;
}

nav.menu-btn {
    display: block;
}

@media only screen and (max-width: 1200px) {
    nav {
        padding: .1em;
    }
}

nav li {
    list-style: none;
    margin: 0em 1em;
    font-size: 1.2rem;
    color: white;
    padding: .5em;
    margin: 0 1.125em;
}

@media only screen and (max-width: 1200px) {
    nav li {
        font-size: 1rem;
        padding: .4em;
    }
}

@media only screen and (max-width: 810px) {
    nav li {
        font-size: .7rem;
    }
}

@media only screen and (max-width: 1000px) {
    nav .form {
        display: none;
    }
}

.form {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form form {
    width: 80%;
    height: 60%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 0em 2em;
}

.form button {
    border-radius: 30px;
    float: right;
}

nav input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 0em 1em;
    font-size: 1.1rem;
    color: white;
}

@media only screen and (max-width: 1200px) {
    nav input {
        font-size: 1rem;
    }
}


::placeholder {
    color: #E9E5DD;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
}

.second-nav li {
    margin: 0;
}

.second-nav img, .form img {
    cursor: pointer;
}

#search {
    width: 20px;
}

.background {
    width: 100%;
    padding: 0;
    margin: 0;
}

.background img {
    width: 100%;
}

.overlay {
    width: 100%;
    height: 30vh;
    position: absolute;
    top: 0;
}

#logo {
    max-width: 50px;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    #logo {
        max-width: 45px;
    }
}

@media only screen and (max-width: 810px) {
    #logo {
        max-width: 20px;
    }
}

.main-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.main-text h1 {
    font-size: 5rem;
    letter-spacing: .3em;
    margin: 0;
}

@media only screen and (max-width: 1200px) {
    .main-text h1 {
        font-size: 4rem;
        letter-spacing: .2em;
    }
}

@media only screen and (max-width: 810px) {
    .main-text h1 {
        font-size: 2.2rem;
        letter-spacing: .1em;
    }
}

.main-text p {
    font-size: 1.3rem;
}

@media only screen and (max-width: 1200px) {
    .main-text p {
        font-size: 1.15rem;
    }
}

@media only screen and (max-width: 810px) {
    .main-text p {
        font-size: .7rem;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h2 {
    font-size: 1.5rem;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .main h2 {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 810px) {
    .main h2 {
        font-size: 1.1rem;
    }
}

.models {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.car-logo {
    width: 150px;
}

@media only screen and (max-width: 810px) {
    .car-logo {
        width: 75px;
    }
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 200px;
}

@media only screen and (max-width: 1200px) {
    .section {
        margin-bottom: 200px;
    }
}

#category-title {
    text-align: center;
    font-size: 2rem;
    margin: 2em;
}

@media only screen and (max-width: 1200px) {
    #category-title {
        font-size: 1.7rem;
        text-align: center;
    }
}

@media only screen and (max-width: 810px) {
    #category-title {
        font-size: 1.4rem;
        text-align: center;
    }
}

.categories {
    width: 90%;
    height: 800px;
    display: flex;
}

@media only screen and (max-width: 1200px) {
    .categories {
        height: 600px;
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}

.category {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.category ul {
    list-style: none;
    width: 30%;
}

@media only screen and (max-width: 1200px) {
    .category ul {
        width: 30%;
    }
}

.category li {
    width: 100%;
    height: 250px;
    padding: .7em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .category li {
        height: 220px;
        padding: .4em;
    }
}

@media only screen and (max-width: 810px) {
    .category li {
        height: 120px;
        padding: .2em;
    }
}

.category li:hover {
    border-radius: 30px;
    box-shadow: 0px 0px 5px .7px grey;
    transition: .5s;
    width: 110%;
    height: 260px;
}

@media only screen and (max-width: 1200px) {
    .category li:hover {
        height: 230px;
    }
}

@media only screen and (max-width: 810px) {
    .category li:hover {
        height: 125px;
    }
}

.category a {
    text-decoration: none;
    color: black;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color: black;
    height: .5px;
}

.category p{
    font-size: 1.5rem;
}

@media only screen and (max-width: 1200px) {
    .category p {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 810px) {
    .category p {
        font-size: .8rem;
    }
}

.category img {
    height: 60%;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .category img {
        height: 45%;
    }
}

#car-engine {
    height: 48%;
    margin-top: 20%;
    margin-left: 10%;
    animation: circle 5s linear infinite;
}

@media only screen and (max-width: 810px) {
    #car-engine {
        display: none;
    }
}

@keyframes circle {
    from{
        transform: rotate(0deg)
                   translate(-30px)
                   rotate(0deg);
    }
    to{
        transform: rotate(360deg)
                   translate(-30px)
                   rotate(-360deg);
    }
}

.footer {
    margin-top: 150px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background: #BBB5AA;
    box-shadow: 1px 0px 5px 2px grey;
    position: absolute;
    bottom: 5;
}

@media only screen and (max-width: 1200px) {
    .footer {
        height: 80px;
    }
}

@media only screen and (max-width: 810px) {
    .footer {
        display: none;
    }
}

.footer img {
    margin: 1em 1em;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.category-list {
    margin-top: -23em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .category-list {
        margin-top: -19em;
    }
}

@media only screen and (max-width: 1200px) {
    .category-list {
        margin-top: -10em;
    }
}

.category-items {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-items ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.category-items a {
    width: 20%;
}

@media only screen and (max-width: 1200px) {
    .category-items a {
        width: 30%;
    }
}

.category-items li {
    height: 280px;
    padding: .7em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    margin: 0 1em;
}

@media only screen and (max-width: 1200px) {
    .category-items li {
        height: 270px;
        padding: .5em;
    }
}

@media only screen and (max-width: 810px) {
    .category-items li {
        height: 100px;
        padding: .5em;
    }
}

.category-items li p {
    text-align: center;
    font-size: 1rem;
}

@media only screen and (max-width: 1200px) {
    .category-items li p {
        font-size: .9rem;
    }
}

@media only screen and (max-width: 810px) {
    .category-items li p {
        font-size: .7rem;
    }
}

.category-items li:hover {
    border-radius: 30px;
    box-shadow: 0px 0px 5px .7px grey;
    transition: .5s;
    width: 205px;
    height: 275px;
}

@media only screen and (max-width: 1200px) {
    .category-items li:hover {
        height: 270px;
        width: 185px;
    }
}

@media only screen and (max-width: 810px) {
    .category-items li:hover {
        height: 105px;
        width: 32%;
    }
}

.category-items img {
    height: 48% !important;
    align-items: center;
}

.category-items a {
    text-decoration: none;
    color: black;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons button {
    border-radius: 30px;
    border: 1px dotted grey;
    padding: .5em;
    margin-top: .5em;
    font-size: .8rem;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .buttons button {
        font-size: .8rem;
    }
}

@media only screen and (max-width: 1200px) {
    .buttons button {
        font-size: .7rem;
    }
}

#watchlist-btn {
    background: transparent;
}

#watchlist-btn:hover {
    background: #ABEBC6;
    transition: .4s;
}

#cart-btn {
    background: #ABEBC6;
}

#cart-btn:hover {
    background: transparent;
}

.register-form {
    height: 500px;
    width: 80%;
    margin-top: -20em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
    .register-form {
        height: 450px;
        margin-top: -17em;
        padding: 1.8em;
    }
}

@media only screen and (max-width: 810px) {
    .register-form {
        height: 450px;
        margin-top: -7em;
        padding: 1.2em;
    }
}

.register-form form {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 1px #D6DBDF;
    padding: 3em;
    width: 30%;
    margin: auto;
}

@media only screen and (max-width: 1200px) {
    .register-form form {
        padding: 2.7em;
    }
}

.register-form form label {
    font-size: 1.4rem;
}

@media only screen and (max-width: 1200px) {
    .register-form form label {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 810px) {
    .register-form form label {
        font-size: .9rem;
    }
}

.register-form input {
    width: 80%;
    height: 5%;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 0px 1px 1px grey;
    margin: .3em;
    padding: .2em;
    font-size: 1.2rem;
}

@media only screen and (max-width: 1200px) {
    .register-form input {
        margin: .4em;
        padding: .18em;
        font-size: 1.18rem;
    }
}

@media only screen and (max-width: 810px) {
    .register-form input {
        margin: .2em;
        padding: .1em;
        font-size: 1rem;
        height: 15px;
    }
}

.register-form button {
    width: 20%;
    margin-top: .5em;
    border-radius: 30px;
    border: 1px dotted grey;
    padding: .5em;
    font-size: 1.1rem;
    background: transparent;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .register-form button {
        width: 30%;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 810px) {
    .register-form button {
        width: 55%;
        font-size: .8rem;
    }
}

.register-form button:hover {
    background: #A2D9CE;
}

.register-form a{
    margin-top: .5em;
}

@media only screen and (max-width: 1200px) {
    .register-form a {
        font-size: .7rem;
    }
}

.profile {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15em;
    height: 500px;
    padding: .5em;
    display: flex;
}

@media only screen and (max-width: 1200px) {
    .profile {
        margin-top: -10em;
        padding: .4em;
    }
}

@media only screen and (max-width: 810px) {
    .profile {
        margin-top: -3em;
        padding: .4em;
    }
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: .7em;
    font-size: 1.2rem;
    letter-spacing: .09rem;
}

@media only screen and (max-width: 1200px) {
    .info {
        padding: .6em;
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 810px) {
    .info {
        padding: .6em;
        font-size: .9em;
    }
}

.info span {
    font-weight: bold;
}

.profile form {
    width: 50%;
    height: 65%;
    padding: .7em;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    letter-spacing: .09rem;
    border-left: 2px solid grey;
}

@media only screen and (max-width: 1200px) {
    .profile form {
        padding: .6em;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 810px) {
    .profile form {
        padding: .6em;
        font-size: .9rem;
    }
}

.profile h2 {
    font-size: 1.2rem;
}

@media only screen and (max-width: 1200px) {
    .profile h2 {
        font-size: 1.15rem;
    }
}

@media only screen and (max-width: 810px) {
    .profile h2 {
        font-size: .9rem;
    }
}

.profile form label {
    font-size: 1.2rem;
}

@media only screen and (max-width: 1200px) {
    .profile form label {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 810px) {
    .profile form label {
        font-size: .9rem;
    }
}

.profile input {
    width: 80%;
    height: 10%;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 0px 1px 1px grey;
    margin: .5em;
    padding: .2em;
    font-size: 1.2rem;
}

@media only screen and (max-width: 1200px) {
    .profile input {
        margin: .6em;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 810px) {
    .profile input {
        margin: .6em;
        font-size: .9rem;
        height: 20px;
    }
}


.profile button {
    width: 20%;
    margin-top: .5em;
    margin-left: .5em;
    border-radius: 30px;
    border: 1px dotted grey;
    padding: .5em;
    font-size: 1.1rem;
    background: transparent;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .profile button {
        margin: .6em;
        font-size: .9rem;
        width: 50%;
    }
}


.profile button:hover {
    background: #A2D9CE;
}

.container {
    height: 500px;
    margin-top: -15em;
}

#continue {
    margin-top: .5em;
}

.only li {
    justify-content: center;
    height: 220px;
}

@media only screen and (max-width: 810px) {
    .only li {
        justify-content: center;
        height: 100px;
    }
}

.only li:hover {
    height: 225px;
}

@media only screen and (max-width: 810px) {
    .only li:hover {
        height: 105px;
        width: 50%;
    }
}

.second li {
    width: 20%;
}

@media only screen and (max-width: 810px) {
    .second li {
        height: 200px;
        width: 25%;
    }

    .second ul li img {
        height: 30% !important;
    }

    .second button {
        font-size: .7rem;
    }
}

@media only screen and (max-width: 810px) {
    .second li:hover {
        height: 205px;
        width: 27% !important;
    }

    .second ul li img {
        height: 30% !important;
    }

    .second button {
        font-size: .7rem;
    }
}

.second li:hover {
    width: 20%;
}

@media only screen and (max-width: 1200px) {
    .container {
        margin-top: -11em;
    }
}

@media only screen and (max-width: 810px) {
    #profile, #cart, .plus-minus {
        height: 20px;
    }

    .container {
        margin-top: -5em;
    }

    .table {
        font-size: .8rem;
    }

    .order-img {
        max-width: 100px;
    }
}

.item-container {
    margin-top: -22em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

@media only screen and (max-width: 1200px) {
   .item-container {
        margin-top: -14em;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
}

@media only screen and (max-width: 810px) {
   .item-container {
        margin-top: -7em;
        height: 500px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
    }
}

.item-image {
    width: 50%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 810px) {
   .item-image {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: top;
    }
}

.item-image img {
    height: 80%;
}

@media only screen and (max-width: 1200px) {
    .item-image img {
        height: 60%;
    }
}

@media only screen and (max-width: 810px) {
    .item-image img {
        height: 100%;
    }
}

.item-contains {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

@media only screen and (max-width: 810px) {
    .item-contains {
        width: 100%;
        margin auto;
        display: flex;
        justify-content: space-between;
    }
}

.item-text h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2em;
}

@media only screen and (max-width: 1200px) {
    .item-text h2 {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 810px) {
    .item-text h2 {
        font-size: 1rem;
    }
    .item-text {
        width: 100%;
    }
}

.item-text p {
    font-size: 1.5rem;
    letter-spacing: .1em;
}

@media only screen and (max-width: 1200px) {
    .item-text p {
        font-size: 1.3rem;
        letter-spacing: .08
    }
}

@media only screen and (max-width: 810px) {
    .item-text p {
        font-size: .7rem;
        letter-spacing: .08
    }
}

.item-btn {
    margin-bottom: 1em;
}

@media only screen and (max-width: 1200px) {
    .buttons button {
        font-size: .8rem !important;
    }
}

@media only screen and (max-width: 810px) {
    .buttons button {
        font-size: .8rem !important;
    }
}

.page-numeration {
    margin: 2em;
    text-align: center;
}